<ul class="mdui-menu" id="admin-menu">
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple back"><i
        class="mdui-menu-item-icon mdui-icon material-icons">arrow_back</i>返回上一页</a>
  </li>
</ul>
<i id="mouseplace" style="position: absolute"></i>

<div class="mdui-dialog" id="login_input">
  <div class="mdui-dialog-title">登录</div>
  <div class="mdui-dialog-content" style="height: 108px">
    <form action="<!--IsPreview?-->admin" method="post" onsubmit="return sha1loginpass(this);">
      <div class="mdui-textfield mdui-textfield-floating-label">
        <i class="mdui-icon material-icons">lock</i><label class="mdui-textfield-label">密码</label>
        <input class="mdui-textfield-input" id="login_input" name="password1" type="password">
        <input name="timestamp" type="hidden" value="">
      </div>
  </div>
  <div class="mdui-dialog-actions">
    <button class="mdui-btn mdui-ripple" mdui-dialog-close="" id="login_close">取消</button>
    <button id="login_btn_bak" class="mdui-btn mdui-ripple" type="submit" value="<!--constStr@Login-->">
      登录
    </button>
    </form>
  </div>
</div>